body
{
background: linear-gradient(to bottom right, #33ccff 0%, #0066ff 100%);
}
#calc-contain
{
  background: none;/*#ccf5ff/*#999999*/;
  position: relative;
  width: 30%;
  height: 8%;
/*  border: 4px solid black; */
/*  border-radius:  25px;*/
  margin: 5% auto;
  padding: 5% 1% 10% 1%;

}
.text 
{
  color: white /*#000000*/;
  background: transparent;
  /*background-color: #d9d9d9/*#4d4d4d*/;
  position: relative;
  border: 1px;
  /*border-radius: 20px;
  border-color: #33ccff;*/
  display: block;
  width: 86%;
  height: 15%;
  margin: 0.2% auto;
  font-size: 300%;
  padding: 2%;
  text-align: right;
  /*box-shadow: 4px 4px 20px black inset;*/
}


.calc-buttonC
{
  color:white;
   font-family: BOTONI MT;
  border-radius: 50px;
  border: 1px solid white;
  height: 60%;
  background: none/*#99d6ff*/;
    font-size: 190%; 
    margin-left: 4%;
    margin-right:3%; 
    margin-top: 3.5%;
      width: 41%;
}
.calc-buttonC:hover
{
  border-color: grey;
}
.calc-buttonC:active
{
  font-style: italic;
}
.calc-button
{
  color: white;
  font-family: BOTONI MT;
  border-radius: 50%;
border: 1px solid white;
  height: 80%;
  background: none/*#99d6ff*/;
    font-size: 270%;
    margin-left: 4%;
    margin-right:3%; 
    margin-top: 3.5%;
  width: 12%;
}
.calc-button:hover
{
  border-color: grey;
}
.calc-button:active
{
  font-style: italic;

}
.hh
{
  width: 90%;
  background-color: black;
}
@media screen and (max-width: 640px) {
    .calc-button {
        width: 35px;
    }
}
@media screen and (max-width: 1200px) {
    .calc-button {
        width: 37px;
    }
}
